/* Landing Page css 
=========================================================////=======================================////=================================== */
/* Defining the fonts========================================== */
@font-face {
    font-family: 'architype_bold';
    src: url('webfontkit-20230221-020521/archityperenner-bold-webfont.woff2') format('woff2'),
         url('webfontkit-20230221-020521/archityperenner-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'architype_demi';
    src: url('webfontkit-20230221-020521/archityperenner-demi-webfont.woff2') format('woff2'),
         url('webfontkit-20230221-020521/archityperenner-demi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'architype_medium';
    src: url('webfontkit-20230221-020521/archityperenner-medium-webfont.woff2') format('woff2'),
         url('webfontkit-20230221-020521/archityperenner-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'architype_regular';
    src: url('webfontkit-20230221-020521/archityperenner-regular-webfont.woff2') format('woff2'),
         url('webfontkit-20230221-020521/archityperenner-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'tw_regular';
    src: url('webfontkit-20230221-021519/twcenclassmtstd-regular-webfont.woff2') format('woff2'),
         url('webfontkit-20230221-021519/twcenclassmtstd-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'tw_bold';
    src: url('webfontkit-20230221-021519/twcenmtstd-bold-webfont.woff2') format('woff2'),
         url('webfontkit-20230221-021519/twcenmtstd-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'tw_medium';
    src: url('webfontkit-20230221-021519/twcenmtstd-mediumcond-webfont.woff2') format('woff2'),
         url('webfontkit-20230221-021519/twcenmtstd-mediumcond-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'slickbold';
    src: url('slick-webfont.woff2') format('woff2'),
         url('slick-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
:root{
    --light-green:#048f60;
    --dark-green:#00653c;
    --yellow:#fef661;
    --light-black:#1b1a1a;
    }
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 54px;
    font-family: architype_demi;
}
h2{
    color:black;
    font-family: architype_demi;
    font-size: 48px;
    font-weight:900;
}
h3{
    font-family: architype_demi;
    font-weight: 800;
}
button{
    border: none;
}
p{
    font-family: tw_regular;
}
a{
    text-decoration: none;
}
@media screen and (max-width:576px){
    h1 {
        font-size: 36px !important;
    }
    h3{
        font-size: 28px !important;
        font-weight: 700 !important;
    }
    h2{
        font-size: 36px !important;
        line-height: 48px !important;
    }
}
/*Navigation bar css ====================================================================================== */
/* .lp-navigation-bar{
    background-image: url("top1.jpg");
    background-repeat: no-repeat;
    background-size:250px;
    background-position-x:80px ;
    background-position-y:20px ;
    
    
} */
 .smarTech{
    color: var(--dark-green);
}
.lp-navigation-bar .navbar-brand{
    font-family: 'architype_demi';
    font-size: 48px;
    padding:35px 5px 15px;
}

.logo-bg img{
    position: absolute;
    z-index: -1;
    left: 0;
    width: 330px;
    height: auto;
}
.lp-navigation-bar .navbar-light .navbar-nav .nav-link{
    list-style-type: none;
    color: #000000;
    font-family: 'tw_regular';
}
.lp-navigation-bar .navbar-light .navbar-nav .nav-link:hover{
    color: var(--dark-green);
}
.lp-navigation ul {
    gap:10px;
}
.lp-navigation-bar .navbar-light .navbar-nav .nav-link.active{
    color: var(--dark-green);
    
}
.lp-navigation-bar .navbar-light .navbar-nav .nav-link.active::after{
    content: '\f111';
    font-family: fontawesome;
    display: block;
    text-align: center;
    font-size: 5px;
}
@media only screen and (max-width: 991px){
    .lp-navigation-bar .navbar-light .navbar-nav .nav-link.active::after{
        display: none;
    }  
}
@media only screen and (max-width: 767.98px){
    .logo-bg img{
        width: 250px;
    }
}
@media only screen and (max-width: 767.98px){
    .lp-responsive-spacing{
        padding: 20px 10px;
        margin: 0;
    }
}
/*Nav section end============================================================== */

/*Banner-section start========================================================= */
.lp-banner-title{
    color: var(--dark-green);
    margin-top:7em;
}
.lp-banner-heading h2{
    font-size: 56px;
    line-height: 70px;
    font-weight: bolder;
    font-family: 'architype_demi';

}
.lp-banner-description p{
    font-size: 14px;
font-weight:500;
line-height: 24px;
}
/* lp-button-first is for all the linked buttons i.e one in the banner section and two in the package section */
.lp-banner-section .lp-button-first a{
    background-color: var(--dark-green);
    border-radius: 12px;
    padding: 16px 10px;
    width: 200px;
    color: white;
    text-decoration: none;
    font-family: architype_medium;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-evenly;
 
}  
.lp-banner-section .lp-button-first i{
    margin-left: 20px;
    font-size: 16px;
    font-weight: bolder;
}
.lp-banner-section .lp-button-first{
    position: relative;
    top: 15px;

}
.lcd-tv{
    float: right;
}
.lp-horizontal-line-1{
    margin-top: 4em;
    border-top: 2px solid var(--dark-green);
}
.lp-horizontal-line-1 h4,.lp-horizontal-line-2 h4{
    padding-top: 1em;
    color: var(--dark-green);
    font-family: 'tw_bold';
    font-size:20px;
    font-weight: 100;

}
.lp-horizontal-line-2{
    margin-top: 4em;
    border-top: 2px solid var(--dark-green);
    margin-left: 3em;
}
.lp-horizontal-line-1 p, .lp-horizontal-line-2 p{
    font-family: 'tw_regular';
    color: var(--light-black);
    font-size:12px ;
    font-weight: 100;
}
@media screen and (max-width:992px) {
    .lp-banner-section .col-md-6{
        width: 100%;
    }
    
}
@media only screen and (max-width:768px){
    .lp-banner-section, .lp-banner-description, .lp-banner-heading
    {
        text-align: center;
    }
    .lp-horizontal-line-2{
        margin-left: 0;
    }
    .lp-banner-section .lp-button-first{

    }
}
/* Banner section end================================================ */

/* Quote section start ========================================== */
.lp-quote-section{
    background-color: #03724d;
    position: relative;
    padding: 100px;
    margin-top: 80px;
}
.lp-quote-title h4, .lp-quote-topic h3, .lp-quote-description p{
    text-align: center;
    color: #ffffff;
}
.lp-quote-topic,.lp-quote-description{
    padding-top: 0.6em;
}

.lp-quote-title h4{
    color: #9cc8b9; 
    line-height: 32px;
}
.lp-quote-description p{
    color: #d3e8df;
    line-height: 36px;
}
.lp-quote-topic h3{
    font-size: 36px;
}
.quote-bg img{
    position: absolute;
    left: 0;
    top: 0px;
    width: 100px;
    z-index: 2;
}
.quote-bg1 img{
    transform: rotate(180deg);
    width: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
}

/*quote section end =============================//================================================ /*

/*Package section start =========================//=========================== */
.lp-package{
    position: relative;
    padding-top: 100px;
}
.lp-package .lp-button-first{
    background-color: var(--dark-green);
    border-radius: 12px;
    padding: 16px 15px;
    width: 200px;
}
.lp-package .lp-button-first a{
    color: white;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    justify-content: space-between;
    position: relative;
}
.lp-package .lp-button-first i{
    color: white;
}
.lp-package .package-paragraph span a{
    cursor: pointer;
    color: var(--dark-green);
}
.package-paragraph h2{
    margin-top: 3em;
    font-family: architype_bold;
    font-size: 44px;
    line-height: 1.5em ;
    font-weight:600;
}

/* for the light bulb icon ============== */
.lightBulb{
    color: var(--light-green);
    background-color:#daebe4 ;
    border-radius: 35%;
    padding: 5px 12px 12px 12px;
}
.firstPackage{
    margin-top: 2em;
    border: 2px solid whitesmoke;
    /* box-shadow: -1px 1px 0px 4px rgba(0,0,0,0.09);
-webkit-box-shadow: -1px 1px 0px 4px rgba(0,0,0,0.09);
-moz-box-shadow: -1px 1px 0px 4px rgba(0,0,0,0.09); */
border-radius: 8%;
padding: 20px ;
}
.firstPackage h2, .secondPackage h2 {
    margin-top:20px ;
    color: rgb(37, 36, 36);
    font-family: 'tw_bold';
    font-size:32px ;
    font-weight: 800;
}
.firstPackage p, .secondPackage p{
    font-family: tw_regular;
    font-size: 12px;
    font-weight: 400;
    color: var(--light-black);
}
.firstPackage h3 span, .secondPackage h3 span{
    font-size: 24px;
    font-weight: 100;
}
.firstPackage h3, .secondPackage h3{
    font-size: 38px;
    font-weight: 700;
    margin-top: 25px;
}
.secondPackage{
    /* background-color: var(--dark-green); */
    margin-top: 4em;
    border-radius: 8%;
    padding: 20px;
    border: 2px solid whitesmoke;
}
.diamond{
    color: var(--light-green);
    background-color:#daebe4 ;
    border-radius: 35%;
    padding: 5px 12px 12px 12px;
}
.package-section-bg img{
    margin-top: 3em;
    width: 140px;
    position: absolute;
    left: 0;
}
@media only screen and (max-width: 992px) {
.package-section-bg{
    display: none;
}
.lp-package .package-paragraph{
    width: 100%;
}
}
@media only screen and (max-width: 768px){
    .package-paragraph, .firstPackage, .secondPackage{
        text-align: center;
        padding: 10px 0px ;
    }
}
/*After hover effects for packages=================== */
.firstPackage:hover, .secondPackage:hover {
    background-color:var(--dark-green);
    cursor: pointer;
}
.lp-package .secondPackage:hover h2, .secondPackage:hover h3, .secondPackage:hover p,
.firstPackage:hover h2, .firstPackage:hover h3, .firstPackage:hover p
{
    color: white;
}
.firstPackage:hover .lp-button-first, .secondPackage:hover .lp-button-first {
    background-color: white;
    color: var(--dark-green);
}
.firstPackage:hover a, .firstPackage:hover i,
 .secondPackage:hover a,.secondPackage:hover i{
    color: var(--dark-green);
}
/*Package section end==========================//============== /*

/* About us section start=====================//============== */
.services-upper img{
    width: 100%;
}
.services-upper h3{
    width: 100%;
}
.lp-about-us h3{
    text-align: center;
    margin-top: 120px;
    color: var(--dark-green);
}
.lp-about-us h2{
    text-align: center;
    font-weight:900;
    font-size: 48px;
}
.lp-about-us p{
    text-align: center;
    font-size: 14px;
    margin-top: 16px;
}
.lp-about-us p span{
    font-weight: 900;
}

/*about us section end ===============================//-====== /*

/* Services section start==================//=============== */
.monthly-report p,.customer-service p, .planning-consultation p{
    font-size: 11px;
    font-weight:500;
    color: var(--light-black);

}
.monthly-report,.customer-service,.planning-consultation {
    margin-top: 90px;
}

/*Servives section end===============/=================== */

/* More services section start==================================//=-======================== */
.lp-more-services{
    padding-top: 150px;
    margin-top: 50px;
}
.lp-more-services a{
    text-decoration: none;
    color: black;
}
.qr-payment:hover, .trading-portal:hover, .virtual-credit-card:hover{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 5px 5px 0px;
}
.qr-content, .trading-content, .credit-card-content{
    margin-left: 2em;
}
@media screen and (max-width: 768px){
    .qr-content, .trading-content, .credit-card-content{
        width: 100%;
    }
}
.qr-payment img, .trading img, .credit-card img{
    width: 50px;
    padding-left: 12px;
    height: auto;
}
.virtual-credit-card,.trading-portal, .qr-payment{
    border: 2px solid rgb(247, 242, 242);
    border-radius: 15px;
    width: 100%;
    max-width: 600px;
}
.lp-more-services p{
    font-family: architype_regular;
    font-size: 16px;
    color:var(--light-black);
}
.lp-more-services i{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 2em;
}
.lp-services-image {
    float: right;
    margin-top: 80px;
    margin-right: 80px;
}
@media screen and (max-width:1200px){
.services-images .lp-services-image{
width: 70%;
}
}
@media screen and (max-width:768px){
    .services-images .lp-services-image{
        width: 100%;
        margin-right: 0;
    }
    .lp-more-services{
        margin-top: -20px;
    }
}

.services-bg{
    position: absolute;
    right: 0;
    width: 150px;
}
@media screen and (max-width:576px){
    .services-bg{
        width: 80px;
    }
}
/* Service section end =========================// ============================================== */

/*Products section start -----=================//================================================== */
.lp-products{
    padding-top: 150px;
    margin-top: 3em;
}
.lp-products h3{
    color: var(--dark-green);
}
.lp-products p{
    color: var(--light-black);
}
.lp-products h2{
    font-size: 38px;
    font-weight: 900;
}
.lp-featured-products{
    margin-top: 80px;
}
.lp-featured-products p{
    font-family: architype_regular;
    font-weight: 500;
}
.lp-featured-products .read-more{
    color: var(--dark-green);
    font-size: 22px;
    font-family: tw_bold;
}
.lp-featured-products i{
    color: var(--dark-green);
}
.lp-carousels .carousel-cards{
    border-radius: 50px;
    margin: 8px;
    border: 2px solid #f6f6f7;
    margin-left: 40px;
}

.lp-carousels .carousel-cards .card-title{
    color: black;
}
.lp-carousels .carousel-cards:hover{
    box-shadow: rgba(17, 12, 46, 0.15) 3px 3px 3px 3px;
}
.lp-carousels .carousel-cards:hover .card-title{
    color: var(--dark-green);
}
.lp-carousels .carousel-cards img{
    border-radius: 50px;
    padding: 8px;
    height: auto;
}
.lp-carousels .slick-prev:before {
    color: #dbdddd;
    content: '\F12F';
    font-size: 25px;
    font-weight: 500;
    font-family:'bootstrap-icons' !important;
    background-color: white;
    border: 2px solid #dbdddd;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
}

  .lp-carousels .slick-next:before {
    color: var(--dark-green);
    content: '\F138';
    font-family:'bootstrap-icons';
    font-weight: 500;
    color: white;
    font-size: 25px;
    background-color: var(--dark-green);
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    left: -22px;
    top: 12px;
}
.lp-carousels .lp-featured-products .slick-next{
    left: 16px;
}
.lp-carousels .slick-track .slick-current .carousel-cards{
    background: #FFFFFF;
    border: none;
    border-radius: 50px;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.6));
}
@media screen and (max-width:768px){
    .lp-products h3, .lp-products h2, .lp-products p{
        text-align: center;
        padding: 10px 0;
    }
    .lp-products{
        margin-top: -16px;
    }
}

/* @media only screen and (max-width: 767.98px) {
    .lp-carousels .lp-featured-products .col{
      flex:0 0 100% ;
      width: 100%;
    } 
    .lp-carousels .lp-featured-products .col .marriage-cards img{
      height: 300px;
      object-fit: cover;
    }
  } 
   /* Extra large devices (large laptops and desktops, 1200px and up) */
  /* @media (min-width:768px)and (max-width: 1200px) {
    .lp-carousels .lp-featured-products .col{
    flex:0 0 50% ;
  } 
  } */ 

/* End of products and featured products section====================================================//////

Start of testimonial section ================================================================ */
.lp-testimonial{
    width: 50% auto;
    margin-top: 50px;
    padding-top: 150px;
}
.lp-testimonial h4{
    text-align: center;
    color: var(--dark-green);
}
.lp-testimonial h2{
    text-align: center;
    margin-inline-start: 400px;
    /* 06a871 04734e */
    font-size: 42px;
}
@media screen and (max-width:992px){
   .lp-testimonial h2{
    margin-inline-start: 10px;
    position: relative;
    top: -150px;
   }
   .lp-testimonial h4{
    position: relative;
    top: -150px;
   }
}
.testimonial-content{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(6,168,113,1) 0%, rgba(4,115,78,1) 100%);
    border-radius: 35px;
    width: 95%;

}
.testimonial-content .slick-list{
    overflow: visible;
    overflow-x: clip;
    
}
.testimonial-content slick-slide{
    opacity: 0 ;
}
.testimonial-content p{
    margin-top: 30px;
    color: white;
    font-family: architype_regular;
    font-style: italic;
    word-spacing: 2px;
    font-size: 20px;
}
.testimonial-content i{
    color: #fef661;
    font-size: 22px;
    padding: 8px;
}
.testimonial-ratings{
    margin-top: 3.5em;
}
ul.slick-dots li button::before {
    font-size: 20px;
}
.testimonial-content h3{
    color: white;
    margin-top: 50px;
}
.testimonial-content h5{
    color: white;
    font-size: 11px;
    letter-spacing: 2px;
    font-family: tw_regular;
}
.testimonial-content .testimonial-slider img{
    margin-top: -150px;
    position: relative;
    z-index: 100;
    overflow: visible;
}
.lp-carousels .slick-prev:before{
   position: absolute;
   right: 1px;
}
.lp-carousels .testimonial-content .slick-next:before{
    position: absolute;
    left: 2px;
}
.lp-carousels .testimonial-content ul.slick-dots li button::before{
    margin-top: 10px;
    column-gap: 1em;
}
.lp-carousels .testimonial-content .slick-dots li.slick-active button::before{
    color: var(--dark-green);
}
.lp-carousels .testimonial-content .slick-dots li button::before{
    color: var(--light-green);
    z-index:100;
}

.lp-testimonial .lp-quotations{
position: relative;
text-align: right;
top: -120px;
left: -40px;
transform: rotate(-2deg);
}
@media screen and (max-width:992px){
    .testimonial-content .testimonial-slider img{
        width: 100%;
    }
    .lp-quotations img{
        width: 150px;
        position:relative;
        top: 20px;
        left: 10px;
    }
}

@media screen and (max-width:576px){
    .lp-quotations img{
        width: 100px;
        position:relative;
        top: 45px;
        left: 10px;
    }
}
@media only screen and (max-width: 767.98px){
    .testimonial-content p, .testimonial-content h3, .testimonial-content h5{
        padding: 10px;
    }
    .testimonial-ratings i{
        font-size: 18px;
    }
    .testimonial-content .testimonial-slider img{
        width: 250px;
        height: auto;
    }
    .testimonial-content{
        padding-left: 20px;
    }
}
/* End of testimonial section */

/* FAQ section and accordion===================================== */

.lp-accordion.accordion-lists .accordion-number-lists{
    color:green;
}
.lp-accordion .accordion-item  .accordion-header .accordion-lists{
    display: flex ;
    column-gap: 30px;
}
.lp-accordion .accordion-item{
    margin-top: 20px;
    position: relative;
    top: 20px;
    border: none;
    width: 85%;
}
@media screen and (max-width:992px){
    .lp-accordion .accordion-item{
        width: 100%;
    }
}
@media screen and (max-width:768px){
    .lp-faq h2{
        text-align: center;
    }
}

.accordion-content{
    border: 2px solid green;
    border-radius: 40px;
}
.lp-accordion .accordion-header{
    padding:4px 20px;
}
.lp-accordion .accordion-button:not(.collapsed){
    color: green;
    background-color: transparent;
    border: none;
    box-shadow: none;
}
.lp-accordion .accordion-button.collapsed::after{
    content: 'icofont-plus-circle';
    
}
.lp-accordion .accordion-button:not(.collapsed)::after{
    content: 'bi-dash-circle';
}
.lp-accordion .accordion-button.collapsed::after,
.lp-accordion .accordion-button:not(.collapsed)::after
{
    font-family: bootstrap-icons ;
    color: green;
    font-size: 20px;
    background-image: none;
}
.lp-accordion .accordion-number-lists{
    font-size: 24px;
    color: var(--dark-green);
    font-family: architype_demi;
}
.lp-accordion .accordion-title{
    font-family: architype_demi;
    font-size: 24px;
    width: 500px;
    color: rgb(24, 23, 23);
}
@media screen and (max-width:768px){
.lp-accordion .accordion-title{
    width:100%;
}
.lp-accordion .accordion-content .content{
    width: 70%;
}
}
.lp-accordion .content{
    font-family:architype_medium;
    font-weight: 200;
    font-size: 18px;
    color:var(--light-black);
    margin-inline-start: 5em;
    width:500px;
}
.lp-accordion .accordion .accordion-content .accordion-button:focus{
    border-color: transparent !important;
    box-shadow: none;
}
/* End of accordion=====================//============================== */

/* footer section start ===================================================== */

.footer-services{
    display: flex;
    justify-content: end;
}
.lp-footer-content{
    margin-top: 200px;
}
.lp-footer-content h2 span{
    color: var(--dark-green);
}

.lp-footer-content ul li a{
    text-decoration: underline;
    color: var(--light-black);
}
.lp-footer-content ul li{
    list-style-type: none;
    font-size: 14px;
    font-family: architype_regular;
    font-weight: 700;
}
.lp-footer-content h1 span{
    color: var(--dark-green);
}
.footer-below ul li a{
    text-decoration: none;
}
.lp-footer-content ul li a:hover{
    color: var(--dark-green);
}
.footer-below{
    border-top: 2px solid var(--dark-green);
}
.footer-below ul{
    display: flex;
    column-gap: 25px;
    width: fit-content;
    margin-top: 15px;
    padding-left: 0;
}
.social-media-links{
    display: flex;
}
.social-media-links ul li a{
    color: var(--light-green);
    
}
.social-media-links a:hover{
    color: var(--dark-green);
}
.social-media-links a{
    column-gap: 20px; 

}
.social-media-links ul li{
    list-style-type: none;
}
@media screen and (max-width:768px){
    .lp-footer-content h1{
        text-align: center;
    }
    .lp-footer-content .footer-services{
        justify-content: center;
    }
    .footer-below ul{
        column-gap: 16px;
        
    }
}